---
import '@/styles/global.css'
import Menu from '@/components/menu/Menu'

interface Props {
  title: string
  icon?: string
}

const { title, icon } = Astro.props
const name = Astro.locals.username
const isAdmin = Astro.locals.isAdmin
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Atividades de Sistemas para Internet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href={icon ? `/${icon}` : "favicon.svg"} />
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    <title>{title}</title>
  </head>
  <body class="dark w-full flex items-center flex-col min-h-screen overflow-x-hidden bg-zinc-900 text-inherit">
    <header class="w-full flex justify-between items-center p-4 h-14">
      <a href={'/home'}>
        <h3 class="text-lg">Atividades SI</h3>
      </a>
      <Menu client:only="react" username={name} isAdmin={isAdmin} />
    </header>

    <main class="w-full mt-4 grow flex justify-center items-center flex-col">
      <slot />
    </main>

    <footer class="h-12 flex justify-center items-center">
      <p>© 2025 SI Activities, All rights reserved.</p>
    </footer>
  </body>
</html>
